<%- include("partials/header"); %>
<head>
    <style>
        .page-cover{
            max-width: 100%;
            height: 100%;
        }
        .shade1{
            background-color: black;
            color: gainsboro;
        }
        .shade2{
            background-color: rgb(232, 241, 239);
            color: rgb(39, 36, 36);
        }
    </style>
</head>
    <body>
        <!-- Main Section -->
        <div class="page-cover">
            <h1 class="middle">CodeIITA</h1>
            <h3>-Coding For Everyone</h3>
            <p>Join us for free and get access to some of the best resources available on Internet at one place.</p>
        </div>

        <!-- Start of First Section -->
        <div class="page-cover shade1">
            <p><br><br><br><br><br><br><br></p>
            <h1 style="text-align: center; font-family: 'Kufam', cursive; font-size:70px">Our Services<br><br><br></h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2">
                        <h4 style="text-align: center;">Code-Visualizer</h4>
                    </div>
                    <div class="col-lg-2">
                        <h4 style="text-align: center;">Tutorials</h4>
                    </div>
                    <div class="col-lg-2">
                        <h4 style="text-align: center;">Blogs</h4>
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Of First Section -->

        <!-- Start of Code-Visualizer Section -->
        <div class="page-cover shade2">
            <p><br><br><br><br><br></p>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p style="text-align: center; font-family: 'Kufam', cursive; font-size:70px">Code-Visualizer<br><br></p>
                        <p style="font-size: 25px;">Wanna compare your performance on CodeForces with your friends ?? Well now it's easier with the help of our Code-Visualizer</p>
                        <a href="#">Check it right now</a>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </div>
        <!-- End of Code-Visualizer Section -->

        <!-- Start of Tutorial Section -->
        <div class="page-cover shade1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <p><br><br><br><br><br></p>
                        <p style="text-align: center; font-family: 'Kufam', cursive; font-size:70px">Tutorials<br><br></p>
                        <p style="font-size: 25px;">Check these some of the best resources available for the following topics in one place<br><br></p>
                        <p style="font-size: 20px;">>> Web Development</p>
                        <p style="font-size: 20px;">>> Data Structures</p>
                        <p style="font-size: 20px;">>> Algorithms</p>
                        <a class="btn btn-default btn-lg" href="/tutorials">Check Tutorials</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Tutorial Section -->

        <!-- Start of Blog Section -->
        <div class="page-cover shade2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p><br><br><br></p>
                        <p style="text-align: center; font-family: 'Kufam', cursive; font-size:70px">Blogs</p>
                        <p><br><br><br></p>
                        <p style="font-size: 22px;">Our Blog Section consist of Internship Experiences, Mistakes that every begineer in IT Sector does and what not</p>
                        <p><br></p>
                        <p style="font-size: 25px;"> Dont Forget to Check them out !!!</p>
                        <a class="btn btn-default btn-lg" style="color: white; background-color: black;" href="#">Blog Section</a>
                    </div>
                </div>
            </div>
        </div>
<p><%= user %></p>

<%- include("partials/footer"); %>