<%- include("partials/header"); %>
<style>
    .page-cover{
        max-width: 100%;
        height: 70%;
    }
    .shade1{
        background-color: black;
        color: gainsboro;
    }
    .shade2{
        background-color: rgb(232, 241, 239);
        color: rgb(39, 36, 36);
    }
</style>
<div class="jumbotron">Tutorials</div>

<div class="page-cover shade1">
    <div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1 style="text-align: center; font-family: 'Kufam', cursive; font-size:70px">Web Development</h1>
            <p style="font-size: 20px;">Web development is a specific field of software engineering that focuses on building web pages. Web pages, or web apps,
                are codebases that are downloaded and run in our web browser (e.g., Google Chrome) each time a user navigates to the
                website address. This differs from other software which is usually downloaded once and run as a standalone application
                on your computer or phone. Web development makes for an exciting career, as a web development cycle is usually much 
                shorter and you get to iterate over your software at a much faster rate. The major building blocks of the web are HTML,
                CSS, and JavaScript. We will be talking about all three languages. We can also think of web development as being split
                into two main categories: front end and back end. We will discuss what each entails.
            </p>
        </div>
        <div class="col-md-5">
            <br><br><br><br><br><br><br><br><br>
            <h1  style="text-align: center; font-family: 'Kufam', cursive;">Check Web Development tutorials of:</h1><br><br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a class="btn btn-default" href="/webdev-nodejs/yEHCfRWz-EI">NodeJS</a>&emsp;&emsp;&emsp;
            <a class="btn btn-default" href="#">React</a>
        </div>
    </div>
    </div>

</div>



<%- include("partials/footer"); %>